*.pxd
*.pyx
*.ipynb_checkpoints
*.pyc
*.png
*foo*
*~
*.h5
*Scratch*
.sconsign.dblite
SConstruct
*.o
*.so
*.so.*
*.os
*.dylib
*.out
docs/*.pdf
*/build/*
# *.html
*/bin/*
*.db*
*DS_Store
*.pic
Experimental/c_fib.c
Experimental/c_fib.h
Experimental/c_fib.i
Experimental/c_fib_wrap.c
Experimental/cy_fib.c
Experimental/cy_fib.pxd
Experimental/cy_fib.pyx
Experimental/fib.c
Experimental/makefile
Experimental/setup.py
Jupyter/EMR2.pem
aws.csv
*.zip
Jupyter/linkage/*
Jupyter/documentation